/* font family */
 /* font{
    font-family: 'Jost', sans-serif;
 } */
  body{
    font-family:'Jost', sans-serif;
  }
 ul{
    padding: 0;
    margin: 0;
 }


 /* search form */
 .input-group{
   
    border: 1px solid #ddd;
    padding: 0px 15px;
    border-radius: 30px;
    background-color: #fff;
    margin-left: 20px;
 }
 .border-none{
    border: none;
    padding: 5px 0px 9px 0px;
 }
 .border-none:focus{
    outline: none;
 }
 .input-group span i{
    width: 20px;
    height: 20px;
    line-height: 39px;
    color: rgb(107, 103, 103);
 }
 /* menu//// */
 .menu{}
 .menu ul{}
 .menu ul li{
    position: relative;
 }
 .menu ul li a{
    text-decoration: none;
    display: inline-block;
    color: rgb(17, 17, 17);
    margin: 0px 20px;
    font-size: 17px;
    font-family: 'Jost', sans-serif;
    text-transform: capitalize;
    position: relative; 
    transition: all linear .4s;
 }
 .menu ul li a:hover{
    color: red;
 }

.menu-icon{
    position: relative;
}
 .menu-icon i{
    margin-right: 33px;
    color: #5a4e8c;
    font-size: 25px;
 }
 .menu-icon span{
    background-color: red;
    font-weight: 500;
    position: absolute;
    left: 13px;
    top: -13px;
    color: #fff;
    width: 22px;
    display: inline-block;
    height: 22px;
    border-radius: 50%;
    text-align: center;
 }

 .sign-in .sign{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 17px;
    background-color: #5a4e8c;
    padding: 7px 20px;
    border-radius: 5px;
    font-family: 'Jost', sans-serif;
 }


 .menu ul li a::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0px;
    top: 22px;
    background-color: rgb(205, 4, 4);
    transition: all linear .4s;

 }
 .menu ul li a:hover::after{
    width: 100%;
 }
 /* drop down */

 .menu ul li .sub-menu{
    position: absolute;
    left: 0px;
    top: 160%;
    list-style: none;
    width: 200px;
    font-size: 17px;
    background-color: rgb(255, 254, 254);
    visibility: hidden;
    opacity: 0;
   transition: .5s ease-in-out;
   box-shadow: 1px 1px 10px 1px #ddd;
   
 }
 .menu ul li:hover .sub-menu{
    visibility: visible;
    opacity: 1;
    top: 130%;
 }


 .menu ul li .sub-menu li{}
 .menu ul li .sub-menu li a{
    padding: 8px 0px;
 }
 .menu ul li .sub-menu li a:hover{
     transform: translateX(3px);
 }
 .menu ul li .sub-menu li a:hover::after{
     width: 0%;
     height: 0px;
 }
 /* banner section////// */
 .banner{
    background-image: url(./allimage/hero/hero-shape.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
 }
 .banner-content{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Jost', sans-serif;
    text-transform: capitalize;
    color: #fff;
    position: relative;
 }
 .banner-content-left{
     width: 37%;
    /* margin-left: 119px; */
 }
 .banner-content-left h3{
    font-size: 42px;
   
 }
 .banner-content-left p{
     font-size: 18px;
 }
 .banner-content-right img{
    max-width: 100%;
   
 }
 .banner-content-right{
    width: 50%;
    margin-right: 4px;
 }
.banner-input{
    position: absolute;
    /* bottom: 95px;
    left: 157px; */
    
}
.banner-input input{
    width: 29.6rem;
    padding: 9px 0px 6px 14px;
    border: none;
    border-radius: 0;
}
.banner-input input:focus{
    outline: none;
}
.banner-input span i{
    background-color: rgba(243, 71, 71, 0.831);
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-left: -5px;
    font-size: 18px;
}
/* ///// courses section */
.courses-tital{
    text-align: center;
    font-family: 'Jost', sans-serif;
    padding: 60px 0px 30px 0px;
}
.courses-tital h3{
    font-size: 33px;
    font-weight: 500;
    word-spacing: 2px;
    color: #2b2b28;
}
.courses-tital p{
    color: #b0b1af;
    font-size: 15px;
}
.courses-content{
    font-family: 'Jost', sans-serif;
    position: relative;
}
.courses-content img{
    max-width: 100%;
}
.courses-content h5{
    color: #494844;
    padding: 10px 0px;
    transition: all linear .4s;
}
.courses-content h5:hover{
    color: rgba(243, 71, 71, 0.831);
}
.courses-content span{
    color: #b9b9b9;
    margin-bottom: 6px;
    display: inline-block;
}
.courses-content ul{
    list-style: none;
}
.courses-content li:nth-child(1){
    color: #ff9e00;
    font-size: 13px;
}
.courses-content li:nth-child(2){
    color: #ff9e00;
    font-size: 13px;
    margin-left: 4px;
}
.courses-content li:nth-child(3){
    color: #ff9e00;
    font-size: 13px;
    margin-left: 4px;
}
.courses-content li:nth-child(4){
    color: #ff9e00;
    font-size: 13px;
    margin-left: 4px;
}
.courses-content li:nth-child(5){
    color: #ff9e00;
    font-size: 13px;
    margin-left: 4px;
}
.courses-content li:nth-child(6){
    color: #d0d0d0;
    font-size: 13px;
    margin-left: 4px;
}
.courses-content li:nth-child(7){
    color: #d0d0d0;
    font-size: 13px;
    margin-left: 4px;
}

.courses-content .dolar{
    position: absolute;
    left: 180px;
    top: 42px;
    display: inline-block;
    color: #fff;
     background-color: rgba(243, 71, 71, 0.831);
    padding: 0px 5px;
    border-radius: 4px;



}

/* online courses */
.exta-bg{
    position: relative;
}
.exta-bg::after{
    content: "";
    position: absolute;
    left: 0%;
    top: 0%;
    width: 6rem;
    height: 100%;
    /* background-color: #fff; */
}
.clear::after{
    content: "";
    clear: both;
    display: block;
}
 .online-content{
    display: flex;
 }
.online-courses-img{
    width: 40%;
    margin-left: 71px;
}
.online-courses-img img{
    max-width: 100%;
}
.online-courses-content{
    width: 60%;
   background-color:#effdff;
   padding-left: 85px;
   padding-right: 12rem;
}
.main-content{
    
}
.online-courses-content h3{
    font-size: 32px;
    color: #3d3c38;
}
.online-courses-content p{
    color: #736b90;
    text-transform: capitalize;
    font-size: 15px;
    margin-top: 15px;
    line-height: 23px;
}
.online-courses-content a{
    text-decoration: none;
    color: #fff;
    background-color: #5a4e8c;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.online-courses-content a::before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0%;
    height: 100%;
    background-color: #3d3c38;
    z-index: -1;
    transition: all linear .5s;
}
.online-courses-content a:hover::before{
    width: 100%;
}

/* students area */
.students-view img{
    height: 180px;
}
/* testmunial//// */
.testmunial-content{
    width: 51%;
    text-align: center;
    margin: auto;
}
.testmunial-content h3{}
.testmunial-content p{
    font-size: 20px;
}
.tastimunial-student-content{
    text-align: left;
    margin-left: 20px;
}
.tastimunial-student-content span{
    font-size: 16px;
}

/* programing///// */

.tital-programing{
    padding: 50px 0px 30px 0px;
}
.tital-programing h3{
    font-size: 32px;
    color: #2b2b28;
    text-align: center;
}
.programing{
    position: relative;
    overflow: hidden;
   
}
.programing::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #9a68d773;
    visibility: hidden;
    opacity: 0;
    transition: all linear .5s;
    
}
.programing:hover::after{
    visibility: visible;
    opacity: 1;
    transition: .5s;
}
.programing-img{
   
}
.programing:hover img{
    transform: scale(1.1);
   
}
.programing-img img{
    max-width: 100%;
    transition: .5s;
    opacity: .8;
    position: relative;
}

.programing-content{
    position: absolute;
    left: 0px;
    bottom: -6px;
    right: 0px;
    z-index: 1;
    
}
.programing-content h4{
    transition: .5s;
    color: #fff;
    text-transform: capitalize;
}
.programing:hover .programing-content h4{
     transform: translatey(-15px);
}
.programing-content a{
    display: inline-block;
    text-decoration: none;
    font-size: 17px;
    padding: 10px 20px;
    background-color: rgba(243, 71, 71, 0.831);
    color: #fff;
    transform: translate(0);
    transition: .5s;
    visibility: hidden;
    opacity: 0;
    border-radius: 5px;
    overflow: hidden;
    
}
.programing-content a:hover{
    background-color: #fff;
    color: #2b2b28;
}
.programing:hover a{
    transform: translateY(-15px);
    visibility: visible;
    opacity: 1;
}
/* animation */
.button{
    
    
}
.button .animaton-btn span a{
    display: inline-block;
    background-color: rgba(243, 71, 71, 0.831);
    color: #fff;
    width: 50px;
    height: 50px;
    text-align:center;
    line-height: 50px;
    border-radius: 50%;
    
}
.button .animaton-btn span a i{
    animation-name: btntop;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes btntop{
     0%{
        transform: translatey(5px);
        opacity: 0;
     }
     50%{
        transform: translateY(-2px);
        opacity: .5;
     }
     70%{
        transform: translateY(-8px);
        opacity: 1;
     }
     100%{
        transform: translateY(-20px);
        opacity: 0;
     }

}
.button .animaton-btn{
    position: fixed;
    position: fixed;
    right: 0px;
    bottom: 15px;
}

/* instructor-content */
.instructor-content{
    margin-left: 77px;
    padding-right: 79px;
    margin-top: 18px;
}
.instructor-content h3{
    color: #2b2b28;
    text-transform: capitalize;
    font-size: 33px;
    padding: 20px 0px 10px 0px;
}
.instructor-content p{
    padding-bottom: 10px;
    font-size: 17px;
}
.instructor-content ul{
    list-style: none;
}
.instructor-content ul li{
   position: relative;
   margin-left: 30px;
}
.instructor-content ul li::before{
    content: '\f00c';
    font-family: "Font Awesome 6 free"; 
    font-weight: 600;
    position: absolute;
    left: -30px;
    top: 0px;
   color: #7871a3;
   font-size: 20px;
    
}

.instructor-button{
    margin-top: 72px;
}
.instructor-content a{
    display: inline-block;
    text-decoration: none;
    font-size: 17px;
    background-color: #5a4e8c;
    padding: 8px 15px;
    color: #fff;
    border-radius: 5px;
    transition: all linear .5s;
    z-index: 1;
    overflow: hidden;
    position: relative;
    
}
.instructor-content a::after{
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    width: 0%;
    height: 100%;
    background-color: #1e1e1d;
    transition: all linear .5s;
    z-index: -1;
}
.instructor-content a:hover::after{
    width: 100%;
}
.instructor-content span{
    display: inline-block;
    display: inline-block;
    margin-left: 20px;
    color: rgba(243, 71, 71, 0.831);
}
.instructor-content span h5{
      display: inline-block;
      font-weight: 300;
      font-size: 30px;
      margin-left: 5px;
}
.instructor-content span i{
    font-size: 22px;

}
.instructor-img{}
.instructor-img img{
    max-width: 100%;
}

/* footer section */

.footer-logo img{
  width: 70px;
}
.footer-logo p{
    color: rgb(129, 127, 127);
    padding: 20px 0px;
}
.footer-logo ul{
    list-style: none;
}
.footer-logo ul li{
    display: inline-block;
}
.footer-logo ul li a{
    display: inline-block;
    margin-left: 10px;
    color: #fff;
    background-color: #7871a391;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    transition: all linear .5s;
}
.footer-logo ul li a:hover{
    background-color: rgba(243, 71, 71, 0.831);
}

.footer-menu{}
.footer-menu h4{
    color: #fff;
    font-size: 25px;
}
.footer-menu ul{
    list-style: none;
}
.footer-menu ul li{
    color: rgb(129, 127, 127);
    transition: all linear .5s;
    cursor: pointer;
}
.footer-menu ul li:hover{
     transform: translateX(5px);
     color: #fff;
}
.newsletter h4{
    color: #fff;
    font-size: 25px;
    text-transform: capitalize;
}
.newsletter span{
    font-size: 15px;
    color: rgb(129, 127, 127);
    margin: 10px 0px;
    display: inline-block;
}
.newsletter .email{
    width: 255px;
    padding: 10px;
    background-color: #585270cb;
    border: none;
    box-shadow: 1px 1px 11px 0px #3d316d;
    border-radius: 5px;
    color: #fff;
}
.newsletter .email:focus{
    outline: none;
}
.newsletter .submit{
    display: block;
    width: 255px;
    padding: 10px;
    background-color:rgba(243, 71, 71, 0.831);
    border: none;
    box-shadow: 1px 1px 11px 0px #3b335b;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
}


.copy{
    margin-top: 93px;
}
.copy p{
    text-align: center;
    color: rgb(129, 127, 127);
}
.copy p span{
    color: rgba(243, 71, 71, 0.831);
}


/* about page */


.about-content h2{
    color: #fff;
    padding-top: 90px;
    text-transform: capitalize;
}
.about-content span{
    color: #9691a8;
    font-size: 16px;
    text-transform: capitalize;
    padding-bottom: 90px;
    display: inline-block;
}



/* contact page */

.form-titale h3{
     text-transform: capitalize;
     margin-bottom: 10px;
}
.form textarea{
    border-radius: 0;
    text-transform: capitalize;
}
.form input{
    border-radius: 0;
    text-transform: capitalize;
}
.form-button {
    margin-top: 45px;
    display: inline-block;
    padding: 14px 38px;
    background: rgb(255, 255, 255);
    border: 1px solid #c14344;
    color: #c14344;
    font-weight: 300;
    transition: .5s ease;
}

.form-button:hover{
    background: #c14344;
    color: #fafafa;
    border: 1px solid #c14344;
}

.form-icons{
    margin-top: 40px;
    margin-left: 45px;
}
.form-icons .home-icon{
    padding-left: 44px;
    position: relative;
}
.form-icons .home-icon span i{
    position: absolute;
    left: 0px;
    top: 3px;
    font-size: 25px;
}
.form-icons .home-icon h6{
    padding: 0;
    margin: 0;
    text-transform: capitalize;
   
}
.form-icons .home-icon h6 a{
    text-decoration: none;
    color: #1e1e1d;
}
.form-icons .home-icon span{
    text-transform: capitalize;
    color: #9691a8;
}

